<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>

  <meta name="author" content="{{ site.Params.author }}">
  <meta name="description" content="{{ with .Params.description }} {{.}} {{else}} {{ with site.Params.description }} {{.}} {{end}} {{end}}">
  <meta property="og:image" content="https://cdn.discordapp.com/attachments/940152008634163221/941676548619137115/banner1.jpg" />
  <meta name="theme-color" content="#87ceeb">
  {{ "<!-- mobile responsive meta -->" | safeHTML}}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

  <!-- favicon -->
  {{ partialCached "favicon" . }}

  {{ "<!-- CSS Plugins -->" | safeHTML}}
  {{ partialCached "style.html" . }}

</head>